@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&family=Quicksand:wght@500;600;700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f1ee;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media (min-width: 430px) {
  body {
    max-width: 430px;
    margin: 0 auto;
  }
}
