@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mobile-background: #f9f6f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f6f4;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-figtree), sans-serif;
  background: var(--background);
  color: var(--foreground);
  min-height: 100%;
}

@media (max-width: 430px) {
  html,
  body,
  main {
    background-color: var(--mobile-background);
  }
}

h2 {
  font-family: var(--font-figtree), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #1e1e1e;
  text-align: center;
}

@media (min-width: 430px) {
  body {
    max-width: 430px;
    margin: 0 auto;
  }
}
